#category_image{
    height: 260px;
    width: 260px;

    margin: 5px;
}

#category{
    padding: 5px;
    margin: 5px;
    max-height: 450px;
    max-width: 300px;

    align-items: center;
}

#category_link{
    text-decoration: none;
    color: black;
}


#search_form{
    display:flex;
    flex-direction:row;
    
    border:1px solid grey;
  
    padding:1px;
}

#search_form:focus-within { 
    outline: 1px solid blue 
  }


#search_input{
    border:none;
    flex-grow: 2;
}

#search_input:focus{
    outline:none;
}

#search_submit_button{
    border:1px solid blue;
    background:blue;
    color:white;
}

#table{
    text-align: center;
    vertical-align: center;
}

#table_image{
    height: 130px;
    width: 130px;
}




